@charset "utf-8";

$wrapper-width: 17.6rem;
$font-default: "AcuminPro", sans-serif;
$font-montser: "Montserrat", sans-serif;
$fontsize-default: 0.16rem;
$fontweight-default: 400;
$lineheight-default: calc(24 / 16);
$color-default: #0b1f3a;
$color-light: #F5F1E8;
$color-yellow: #C6A45A;