block vars
  - var metaTitle = 'Gallery'
  - var path = '.'
  - var page = 'top'
  - var imgPC = path + '/resources/images/top/'
  - var imgSP = path + '/resources/images/top/sp/'
  - var imgCommonPC = path + '/resources/images/common/'
  - var imgCommonSP = path + '/resources/images/common/sp/'

section.section-premises
  .premises-wrapper
    .premises-content
      p.content-tower
        span THÁP A
        span TẦNG 5
      p.content-title CĂN HỘ <span class="title-name">A1-1</span>
      ul.content-list
        li.list-item
          .item-wrapper
            span.item-title.is-room Phòng ngủ:
            span.item-detail 2
        li.list-item
          .item-wrapper
            span.item-title.is-bathroom Phòng tắm:
            span.item-detail 2
        li.list-item
          .item-wrapper
            span.item-title.is-area Diện tích tim tường:
            span.item-detail 70.5<span class="unit">m2</span>
        li.list-item
          .item-wrapper
            span.item-title.is-area Diện tích thông thủy
            span.item-detail 72.7<span class="unit">m2</span>
      .content-block
        .block-icon
          img.object-common(src=imgPC+"premises_icon_01.png" width="56" height="56" loading="lazy" alt="Phối cảnh 3d")
        span.block-title
          span Phối cảnh
          span 3d
      .content-block
        .block-icon
          img.object-common(src=imgPC+"premises_icon_02.png" width="56" height="56" loading="lazy" alt="CĂN HỘ 360°")
        span.block-title
          span CĂN HỘ
          span 360°
    .premises-image
      p.image-title mặt bằng căn hộ
      .image-wrapper
        .image-main
          img.image-common(src=imgPC+"premises_img_01.png" width="808" height="706" loading="lazy" alt="mặt bằng căn hộ")
          span.button-zoom
        .image-sub
          p.sub-title Hướng &amp; vị trí Căn hộ
          .image-sub-viewport
            .image-inner
              img.image-common(src=imgPC+"premises_img_02.png" width="162" height="94" loading="lazy" alt="mặt bằng căn hộ")
