extends ./_base/_layout.pug
block vars
  - var metaTitle = 'Home'
  - var path = '.'
  - var page = 'top'
  - var imgPC = path + '/resources/images/top/'
  - var imgSP = path + '/resources/images/top/sp/'
  - var imgCommonPC = path + '/resources/images/common/'
  - var imgCommonSP = path + '/resources/images/common/sp/'

block content
  .intro
    .intro-inner
      .intro-logo
        svg.object-common#Layer_1(version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="596px" height="392px" viewBox="0 0 596 392" style="enable-background:new 0 0 596 392;" space="preserve")
          path.path-logo(d="M570.5,216h-25.4v0.6c0.8,0,2.7,0.7,3.8,1.3c1.2,0.8,3.2,2.2,3.2,5.2v37.1c0,3-2,4.5-3.2,5.2 c-1,0.7-3,1.3-3.8,1.3v0.6h25.4c12.4,0,26.3-6,26.3-25.7C596.8,222.1,582.9,216,570.5,216 M570.5,262.6h-7.3v-41.7h7.3 c10.1,0,15,9.3,15,20.8C585.6,253.3,580.6,262.6,570.5,262.6")
          path.path-logo(d="M159.5,257.5h-0.6c0,1.8-1.1,3-2.1,3.8c-1.1,0.8-2.6,1.4-4.3,1.4h-16.1v-18.8h6.5c1.6,0,3.2,0.5,4.3,1.4 c1.1,0.8,2.1,1.9,2.1,3.8h0.6v-15.1h-0.6c0,1.8-1.1,3-2.1,3.8c-1.1,0.8-2.6,1.4-4.3,1.4h-6.5v-18h16.1c1.6,0,3.2,0.5,4.3,1.4 c1.1,0.8,2.1,1.9,2.1,3.8h0.6v-10h-41.2v0.6c0.8,0,2.7,0.7,3.8,1.3c1.2,0.8,3.2,2.2,3.2,5.2v37.1c0,3-2,4.5-3.2,5.2 c-1,0.7-3,1.3-3.8,1.3v0.6h41.2V257.5z")
          path.path-logo(d="M196.7,216.6c0.8,0,2.7,0.7,3.8,1.3c1.2,0.8,3.2,2.2,3.2,5.2v37.1c0,3-2,4.5-3.2,5.2c-1,0.7-3,1.3-3.8,1.3v0.6 h41.2v-10h-0.6c0,1.8-1.1,3-2.1,3.8c-1.1,0.8-2.6,1.4-4.3,1.4h-16.1v-18.8h6.5c1.6,0,3.2,0.5,4.3,1.4c1.1,0.8,2.1,1.9,2.1,3.8h0.6 v-15.1h-0.6c0,1.8-1,3-2.1,3.8c-1.1,0.8-2.6,1.4-4.3,1.4h-6.5v-18h16.1c1.6,0,3.2,0.5,4.3,1.4c1.1,0.8,2.1,1.9,2.1,3.8h0.6v-10 h-41.2V216.6z")
          path.path-logo(d="M366.9,257.5h-0.6c0,1.8-1.1,3-2.1,3.8c-1.1,0.8-2.6,1.4-4.3,1.4h-16.1v-18.8h6.5c1.6,0,3.2,0.5,4.3,1.4 c1.1,0.8,2.1,1.9,2.1,3.8h0.6v-15.1h-0.6c0,1.8-1.1,3-2.1,3.8c-1.1,0.8-2.6,1.4-4.3,1.4h-6.5v-18H360c1.6,0,3.2,0.5,4.3,1.4 c1.1,0.8,2.1,1.9,2.1,3.8h0.6v-10h-41.2v0.6c0.8,0,2.7,0.7,3.8,1.3c1.2,0.8,3.2,2.2,3.2,5.2v37.1c0,3-2,4.5-3.2,5.2 c-1,0.7-3,1.3-3.8,1.3v0.6h41.2V257.5z")
          path.path-logo(d="M84,216.6c0.7,0,2.7,0.7,3.8,1.3c1.2,0.8,3.2,2.2,3.2,5.2v15.7H71.8v-15.7c0-3,2-4.5,3.2-5.2 c1-0.7,3-1.3,3.8-1.3V216H53.6v0.6c0.8,0,2.7,0.7,3.8,1.3c1.2,0.8,3.2,2.2,3.2,5.2v37.1c0,3-2,4.5-3.2,5.2c-1,0.7-3,1.3-3.8,1.3v0.6 h25.1v-0.6c-0.8,0-2.7-0.7-3.8-1.3c-1.2-0.8-3.2-2.2-3.2-5.2v-16.5h19.1v16.5c0,3-2,4.5-3.2,5.2c-1,0.7-3,1.3-3.8,1.3v0.6h25.1v-0.6 c-0.7,0-2.7-0.7-3.8-1.3c-1.2-0.8-3.2-2.2-3.2-5.2v-37.1c0-3,2-4.5,3.2-5.2c1-0.7,3-1.3,3.8-1.3V216H84V216.6z")
          path.path-logo(d="M537.8,262c-0.9,0.5-2.8,0.6-4.4,0.6h-14.6v-39.4c0-3,2-4.5,3.2-5.2c1-0.7,3-1.3,3.8-1.3V216h-25.1v0.6 c0.8,0,2.7,0.7,3.8,1.3c1.2,0.8,3.2,2.2,3.2,5.2v37.1c0,3-2,4.5-3.2,5.2c-1,0.7-3,1.3-3.8,1.3v0.6h39.7v-8.3h-0.6 C539.8,260.5,539,261.4,537.8,262")
          path.path-logo(d="M261.2,267.4v-0.6c-0.7,0-2.2-0.7-3.2-1.5c-1.1-0.9-2.4-2.8-2.6-5.1v-35.8l21.7,43l6.5-12.9l14.5-28.8v34.6 c0,3-2,4.5-3.2,5.2c-1,0.7-3,1.3-3.8,1.3v0.6h25.1v-0.6c-0.7,0-2.7-0.6-3.8-1.3c-1.2-0.8-3.2-2.2-3.2-5.2v-37.1c0-3,2-4.5,3.2-5.2 c1-0.7,3-1.3,3.8-1.3V216h-18.2l-17,33.7l-17-33.7h-13h-5.7v0.6c0.7,0,2.2,0.7,3.2,1.5c1.1,0.9,2.4,2.8,2.6,5.1v37.1 c-0.2,2.3-1.5,4.1-2.6,5.1c-0.9,0.8-2.4,1.5-3.2,1.5v0.6h5.7H261.2z")
          path.path-logo(d="M430,266.8c-0.7,0-2.9-0.7-4.3-1.6c-1.3-0.8-2.8-1.5-5-5v0l-7.8-16c3.9,0.1,9.7-2.9,10.3-11.6 c0.1-1.6-0.1-3-0.3-4.3c-2-12.8-12.9-12.4-19.1-12.4h-21.9l-6.8,0v0.6c0.7,0,2.7,0.7,3.8,1.3c1,0.6,2.5,1.7,3,3.8v38.5 c0,3-2,4.5-3.2,5.2c-1,0.7-3,1.3-3.8,1.3v0.6h25.1v-0.6c-0.7,0-2.7-0.7-3.8-1.3c-1.2-0.8-3.2-2.2-3.2-5.2v-14.1h7.3l6.6,14.1 c1.4,2.3,1.1,4.2,0,5.2c-0.9,0.9-3,1.3-3.8,1.3v0.6h8.1H430V266.8z M403.8,241.3L403.8,241.3l-10.7,0v-20.4h10.7 c4.5,0,8.2,5,8.2,10.2S408.4,241.3,403.8,241.3")
          path.path-logo(d="M0.3,226h0.6c0-1.8,1.1-3,2.1-3.8c1.1-0.8,2.6-1.4,4.3-1.4h8.9v39.4c0,3-2,4.5-3.2,5.2c-1,0.7-3,1.3-3.8,1.3 v0.6h18.2h6.9v-0.6c-0.7,0-2.7-0.7-3.8-1.3c-1.2-0.8-3.2-2.2-3.2-5.2v-39.4h8.8c1.6,0,3.2,0.5,4.3,1.4c1.1,0.8,2.1,1.9,2.1,3.8h0.6 v-10H0.3V226z")
          path.path-logo(d="M490.3,265.5c-1.3-0.8-3.1-2.3-4.2-5.2L469.7,216h-18.9v0.6c0.8,0,2.6,0.2,3.6,1.2c1,1,1.3,3,0.4,5.3 l-13.7,37.1c-0.7,1.8-2.4,4.1-3.4,5.1c-0.9,0.8-2.4,1.5-3.2,1.5v0.6h15.2v-0.6c-0.8,0-2.6-0.2-3.6-1.2c-1-1-1.3-3.1-0.4-5.3l0.8-2.1 l1.8-4.8l2.7-7.2h17.7l2.7,7.2l1.8,4.8l0.8,2.1c0.7,1.8-0.2,4.4-1.5,5.4c-1,0.8-3.2,1.2-3.9,1.2v0.6h25.6v-0.6 C493.4,266.8,491.6,266.3,490.3,265.5 M452.7,241.3l7.1-19.1l7.1,19.1H452.7z")
          polygon.path-logo(points="228.7,60.3 176.6,90 176.6,31.3 228.7,0.8 ")
          polygon.path-logo(points="239.2,60.3 291.3,90 291.3,31.3 239.2,0.8 ")
          polygon.path-logo(points="356.9,60.3 304.9,90 304.9,31.3 356.9,0.8 ")
          polygon.path-logo(points="367.5,60.3 419.6,90 419.6,31.3 367.5,0.8 ")
          polygon.path-logo(points="166,158.9 114,188.7 114,130 166,99.4 ")
          polygon.path-logo(points="176.6,158.9 228.7,188.7 228.7,130 176.6,99.4 ")
          polygon.path-logo(points="292.3,158.9 240.2,188.7 240.2,130 292.3,99.4 ")
          polygon.path-logo(points="304.9,158.9 356.9,188.7 356.9,130 304.9,99.4 ")
          polygon.path-logo(points="420.6,158.9 368.5,188.7 368.5,130 420.6,99.4 ")
          polygon.path-logo(points="431.1,158.9 483.2,188.7 483.2,130 431.1,99.4 ")
          path.path-logo(d="M80.9,316.4h9.5c7,0,11.4,3.3,11.4,9.2c0,6-4.2,9.8-11.4,9.8h-9.5V316.4z M80.9,294.1h8.4 c6.9,0,10.3,3.3,10.3,9c0,5.5-4,9-10.5,9h-8.2V294.1z M64.1,289.8c4.7,2,6.9,4,6.9,7v35.9c0,3-2.1,5-6.9,7h29.4 c11,0,18.7-5.1,18.7-13.7c0-6.4-5.1-11.2-12-12.9c5.1-1.7,9.8-5.7,9.8-11.1c0-7.5-6.3-12.2-17.2-12.2H64.1z M127.5,314.7 c0-13.8,6.6-21.3,15.6-21.3c8.9,0,15.6,7.5,15.6,21.3c0,13.8-6.7,21.3-15.6,21.3C134.1,336,127.5,328.5,127.5,314.7 M117.2,314.7 c0,16.3,11.2,26.1,25.9,26.1c14.6,0,25.9-9.9,25.9-26.1c0-16.1-11.3-26.1-25.9-26.1C128.4,288.6,117.2,298.4,117.2,314.7 M207.2,289.8c5.7,2.3,8.5,4.2,8.5,7.5v25.8c0,8-6.9,11.9-14.1,11.9c-7.4,0-14.1-3.9-14.1-11.7v-26.5c0-3,2.9-5,9.2-7h-25.9 c4.8,2,6.9,4,6.9,7v26.1c0,10.8,9.8,17.9,22.3,17.9c12.6,0,20.7-7.3,20.7-18.1v-25.4c0-3,2.1-5.3,6.9-7.5H207.2z M229.3,289.8 c4.7,2,6.9,4,6.9,7v35.9c0,3-2.1,5-6.9,7h42.3V324c-3.8,7.9-6.9,11.3-14.1,11.3h-11.4v-38.6c0-3,2.8-5,9.2-7H229.3z M275.4,289.8 c4.7,2,6.9,4,6.9,7v35.9c0,3-2.1,5-6.9,7h43.1v-14.3c-3.8,6.9-6.9,10-14.1,10h-12.2v-19h9.2c3.6,0,5.7,1.7,8,5.3v-15 c-2.3,3.7-4.4,5.3-8,5.3h-9.2v-18H304c7.2,0,10.3,2.2,14.1,8.3v-12.6H275.4z M358.2,289.8c6.1,2.9,8.6,4.5,7.4,7.5l-13.7,32.3 l-15.3-32.1c-1.3-2.7,2.1-5,8.9-7.6h-26.7c3.6,2.3,5.6,4.9,6.8,7.5l21,42.6h5l19.1-43c1.1-2.4,3.1-4.9,6.8-7.2H358.2z M391.7,299.8 l10.1,20.8h-19.1L391.7,299.8z M392.1,289.5l-19.5,43c-1.1,2.5-3.1,4.9-6.8,7.2h19.4c-6.1-2.7-8.8-4.2-7.5-7.4l3.3-7.6h22.8l3.6,7.4 c1.4,3-2,5.2-8.8,7.6h27.1c-3.4-2.1-5.9-4.8-7.2-7.5l-21.4-42.7H392.1z M440.9,294.1h8.5c8,0,11.7,3.9,11.7,10 c0,6.9-4.2,10.8-13,10.8h-7.2V294.1z M424.1,289.8c4.7,2,6.9,4,6.9,7v35.9c0,3-2.1,5-6.9,7h24.8c-5.2-2-8-4-8-7v-13.8h6.7l15.9,20.8 h15.6c-3.4-2-6.3-4.7-8.1-6.9L457.5,317c7.2-1.5,13.9-5.8,13.9-13c0-9.2-7-14.2-19.3-14.2H424.1z M496.2,294.1h7.8 c11.7,0,17.8,8.3,17.8,20.6s-6.1,20.6-17.8,20.6h-7.8V294.1z M479.4,289.8c4.7,2,6.9,4,6.9,7v35.9c0,3-2.1,5-6.9,7h26.5 c15.9,0,26.2-9,26.2-24.9c0-16-10.3-24.9-26.2-24.9H479.4z")
  nav.nav#nav.hidden
    .nav-item(data-target="section-home")
      .nav-line
      span.nav-label THE EMERALD<br>BOULEVARD
    .nav-item(data-target="section-location")
      .nav-line
      span.nav-label TỔNG QUAN
    .nav-item(data-target="section-utility")
      .nav-line
      span.nav-label TIỆN ÍCH
    .nav-item(data-target="section-central")
      .nav-line
      span.nav-label MẶT BẰNG
    .nav-item(data-target="section-gallery")
      .nav-line
      span.nav-label THƯ VIỆN
  main
    .slider-stage(aria-hidden="true")
      section.panel.first.section-top-keyvisual#section-home
        .group-central
          .inner
            .keyvisual-background
              img.object-common(src=imgPC+"top_keyvisual_img.jpg" width="1920" height="980" loading="eager" alt="Sống trọn Từng lớp tinh sâu")
            .wrapper
              h1.hero-title.js-title
                span.title-main Sống trọn
                span.title-sub Từng lớp tinh sâu
          .keyvisual-icon
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 44" width="15" height="44")
              path(fill="#ffffff" d="m12.7 31.2h-5.2-5.1l-2.4 2.9 7.5 10 7.5-10z")
              path.line(fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m7.5 0.9v31.2")
      section.panel.second.section-top-location#section-location
        .group-central
          .inner
            .location-wrapper.js-location
              #main-w
                .main-location-wrapper
                  .main-map
                    img.object-common(src=imgPC+"location_map.png" width="1325" height="980" alt="" loading="eager")
                    svg.map-line(version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1325 980" space="preserve" preserveAspectRatio="xMidYMid slice")
                      g
                        g
                          path.st0(d="M641.4,266.4c0.1,0.6,0.3,1.3,0.4,2")
                          path.st1(d="M641.8,268.4c0.2,1,0.4,1.9,0.6,2.9")
                          path.st2(d="M642.6,272.3c1.8,9.9,2.9,21.5,2.4,30.7l-2.2,35.1c-1.4,23-9.8,45.1-24.1,63.3l-25.5,32.4c-1.9,2.4-3.8,4.7-5.9,6.9c-5.8,6.3-20.2,24.2-12.9,41.3c9.1,21.2,16.4,44.9,45.5,48.5c23.7,3.6,67.1,6.8,78,41.6c13.8,43.9-83.9,294-93.3,318.1")
                          path.st0(d="M604.6,890.2c-0.5,1.2-0.7,1.9-0.7,1.9")
                      g
                        g
                          line.st0(x1="479.7" y1="47.6" x2="481.5" y2="48.5")
                          line.st3(x1="481.5" y1="48.5" x2="484.2" y2="49.9")
                          path.st4(d="M485,50.4l84.6,44.1c0,0,37.6,15.1,53,88.7")
                          path.st0(d="M622.7,183.2c0.1,0.6,0.3,1.3,0.4,2")
                      g
                        g
                          path.st0(d="M830.4,402.3c0,0.7,0,1.3-0.1,2")
                          path.st5(d="M830.3,404.3c0,1-0.1,2-0.2,2.9")
                          path.st6(d="M830.1,408.2c-0.8,10.5-2.8,20.8-6.1,30.7l-32,97.5")
                          line.st0(x1="792" y1="536.5" x2="791.4" y2="538.4")
                      g
                        g
                          line.st0(x1="834.5" y1="245.5" x2="834.5" y2="247.5")
                          line.st7(x1="834.5" y1="247.5" x2="834.4" y2="250.5")
                          line.st8(x1="834.4" y1="251.5" x2="831.2" y2="370.2")
                          line.st0(x1="831.2" y1="370.2" x2="831.2" y2="372.2")
                      g
                        g
                          line.st0(x1="835.6" y1="207.3" x2="835.6" y2="205.3")
                          line.st9(x1="835.6" y1="205.3" x2="835.8" y2="202.2")
                          line.st10(x1="835.8" y1="201.2" x2="841.8" y2="46.5")
                          line.st0(x1="841.8" y1="46.5" x2="841.9" y2="44.5")
                      g
                        g
                          line.st0(x1="954.7" y1="326.6" x2="956.4" y2="327.6")
                          line.st11(x1="956.4" y1="327.6" x2="959.2" y2="329.1")
                          line.st12(x1="960.1" y1="329.5" x2="1033" y2="368.9")
                          line.st0(x1="1033" y1="368.9" x2="1034.8" y2="369.8")
                      g
                        g
                          path.st0(d="M768.4,317.4c0.7-0.1,1.3-0.2,2-0.2")
                          path.st13(d="M770.4,317.2c1-0.1,2.1-0.3,3.1-0.4")
                          path.st14(d="M774.5,316.7c45-5.5,89.9-11,114-13.9c11-1.3,22.1,0.6,32,5.5")
                          path.st0(d="M920.6,308.3c0.6,0.3,1.2,0.6,1.8,0.9")
                      g
                        g
                          path.st0(d="M643.1,333.7c0-0.1,0.7-0.2,1.9-0.4")
                          path.st15(d="M645,333.3c0.7-0.1,1.7-0.3,2.8-0.4")
                          path.st16(d="M648.8,332.7c12.8-1.9,45.5-6.1,83.5-10.8")
                          path.st0(d="M732.3,321.9c0.7-0.1,1.3-0.2,2-0.2")
                      g
                        g
                          line.st17(x1="461.2" y1="596.5" x2="462.7" y2="596.6")
                          path.st18(d="M465.7,596.7l150.5,8.1c9.6,0.5,19.1-1.5,27.7-5.7l91.2-45.5c2.6-1.3,5.3-2.4,8.1-3.3l45.1-11.2")
                          line.st17(x1="789.9" y1="538.8" x2="791.4" y2="538.4")
                      g
                        g
                          path.st19(d="M187.3,675.1c0.4-0.3,0.8-0.6,1.2-0.9")
                          path.st20(d="M190.9,672.4c8.4-6.2,17.6-11.9,27.4-16.7c43.6-21.3,89.6-45.9,111.8-58c9-4.9,19.2-7.2,29.5-6.6l12.6,0.7")
                          line.st19(x1="373.7" y1="591.8" x2="375.2" y2="591.8")
                      path.st21(d="M949.7,559.2l-77.5-32.8c0,0-11.2-5.3-24.7-2c-13.4,3.3-31.3,6.6-31.3,6.6")

                  .main-content
                    h2.hero-title.js-title
                      span.title-sub
                        span.sub-small Vị trí Cửa Ngõ
                        span.sub-large TỌA ĐỘ
                      span.title-main Vàng
                    .hero-sub.js-title
                      p Dự án căn hộ cao cấp tiên phong mang đến <strong>Chuẩn Sống Thượng Lưu Đa Tầng - Luxury Layered Living độc bản</strong> cho giới tinh hoa, hiện diện tại giao điểm chiến lược Đại lộ Bình Dương (QL13) &amp; Vĩnh Phú 10 - nơi khởi nguồn kết nối giao thương giữa TP.HCM và trục phát triển năng động phía Đông Bắc Sài Gòn.
                    .btn-wrap.md
                      button.button-next.js-toggle-location Quy mô
              #side-w
                .side-location-wrapper
                  .side-content.js-title
                    h2.hero-title
                      span.title-main Tổng quan
                      span.title-sub
                        span.sub-small THE EMERALD BOULEVARD
                    ul.side-list
                      li.list-item
                        .item-wrapper
                          p.item-title Quy mô
                          p.item-detail 10.000 m²
                      li.list-item
                        .item-wrapper
                          p.item-title Tổng sản phẩm
                          p.item-detail 1.149 <span>Căn hộ</span>
                      li.list-item
                        .item-wrapper
                          p.item-title Số tầng
                          p.item-detail 3 <span>tầng hầm</span>
                      li.list-item
                        .item-wrapper
                          p.item-detail 40 <span>tầng cao</span>
                      li.list-item
                        .item-wrapper
                          p.item-title Tháp A
                          p.item-detail 12 <span>căn/tầng</span>
                      li.list-item
                        .item-wrapper
                          p.item-title Tháp B + C
                          p.item-detail 22 <span>căn/tầng</span>
                  .side-button.md
                    button.button-back.js-toggle-location
