@charset "utf-8";
@use "../../_base/base"as *;

.button-common-primary {
  position: relative;
  border: 1px solid $color-yellow;
  background-color: $color-yellow;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 99999px;
  width: auto;
  line-height: 1.2;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  transition: background 0.5s cubic-bezier(0.15, 0.41, 0.69, 0.94);

  &::after {
    background-color: $color-default;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    mask: url(../resources/images/common/arrow_icon_03.svg) 50% 50%/contain no-repeat;
    transition: transform 0.5s cubic-bezier(0.15, 0.41, 0.69, 0.94);
  }

  &:hover {
    background: $color-light;

    &::after {
      transform: translateX(0.1rem) translateY(-50%);
    }

    span {
      transform: translateX(0.1rem);
    }
  }

  span {
    transition: transform 0.5s cubic-bezier(0.15, 0.41, 0.69, 0.94);
    position: relative;
    display: inline-block;
  }

  @include desktop {
    font-size: 0.2rem;
    padding: 0.15rem 0.7rem 0.07rem 0.24rem;
    min-width: 1.85rem;
    min-height: 0.5rem;
    line-height: 1;

    &::after {
      width: 0.31rem;
      height: 0.18rem;
      margin-right: 0.24rem;
    }
  }

  @include mobile {
    min-height: 0.4rem;
    font-size: 0.16rem;
    line-height: 1.625;
    padding: 0.1rem 0.7rem 0.04rem 0.4rem;

    &::after {
      width: 0.26rem;
      height: 0.18rem;
      margin-right: 0.2rem;
    }
  }
}

.button-common-secondary {
  position: relative;
  flex: 0 0 auto;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid $color-yellow;
  transition: border-color .35s ease;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../resources/images/common/arrow_icon_01.svg) center center / contain no-repeat;
    transition: transform 0.3s ease, background 0.3s ease;
  }

  &.is-light {
    border-color: $color-light;

    &::before {
      background: url(../resources/images/common/arrow_icon_02.svg) center center / contain no-repeat;
    }
  }

  &:hover {
    border-color: $color-light;

    &::before {
      transform: translate(0.05rem, -0.05rem);
    }
  }

  @include desktop {
    width: 0.52rem;
    height: 0.52rem;
  }

  @include mobile {
    width: 0.4rem;
    height: 0.4rem;
  }
}