@charset "utf-8";
@use "../../_base/base" as *;

.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #0a2923;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;

  &:not(.is-hidden)~html,
  &:not(.is-hidden)~body {
    overflow: hidden !important;
  }

  .intro-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .16rem;
  }

  .intro-logo {

    path,
    polygon {
      fill: transparent;
      stroke: #fff;
      stroke-width: 1.5;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: drawLine 2s ease forwards;
    }
  }

  &.is-hidden {
    animation: introExit 0.6s ease 1.5s forwards;
  }

  @include desktop {
    .intro-logo {
      width: 3.99rem;
    }
  }

  @include mobile {
    .intro-logo {
      width: 2.66rem;
    }
  }
}

@keyframes introExit {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}

.intro-logo path:nth-child(1) {
  animation-delay: 0s;
}

.intro-logo path:nth-child(2) {
  animation-delay: 0.1s;
}

.intro-logo path:nth-child(3) {
  animation-delay: 0.2s;
}

.intro-logo path:nth-child(4) {
  animation-delay: 0.3s;
}
