@charset "utf-8";
@use "../../_base/base"as *;

.paragraph-common {
  color: #fff;
}

.paragraph-common p:last-child {
  margin-bottom: 0;
}

@media print,
(min-width: 768px) {
  .paragraph-common {
    font-size: 0.18rem;
    line-height: 1.6111111111;
  }
}

@media only screen and (max-width: 767.98px) {
  .paragraph-common {
    font-size: 0.16rem;
    line-height: 1.5;
  }
}
