@charset "utf-8";
@use "../../_base/base"as *;

.title-common-primary {
  text-transform: uppercase;
  font-family: $font-montser;

  @include desktop {
    margin-bottom: 0.37rem;
    font-size: 0.5rem;
    line-height: calc(6 / 5);
  }
}