header.header-common
  .wrapper
    .header-inner
      a#logo-primary.header-logo(href='https://emeraldboulevard.com')
        img.image-common.is-normal(src='https://emeraldboulevard.com/wp-content/themes/theemeraldboulevard/resources/images/common/logo-emeraldboulevard.svg' width='133' height='76' loading='eager' alt='THE EMERALD BOULEVARD')
        img.image-common.is-light(src='https://emeraldboulevard.com/wp-content/themes/theemeraldboulevard/resources/images/common/logo-emeraldboulevard-light.svg' width='133' height='76' loading='eager' alt='THE EMERALD BOULEVARD')
      .header-navigation-wrapper
        .header-right
          a.header-phone(href='tel:1900 2663')
            span.header-icon.is-phone
            span 1900 2663
          // <div class="header-cta js-contact-btn"><span class="header-icon is-cta"></span><span>NHẬN TƯ VẤN</span></div>
        .header-left
          .header-lang(data-url='https://emeraldboulevard.com/en/homepage/')
            span VN
            svg(xmlns='http://www.w3.org/2000/svg' xlink='http://www.w3.org/1999/xlink' width='14' height='8')
              path(fill-rule='evenodd' opacity='0.702' d='M13.932,1.157 L7.154,7.906 C7.060,8.001 6.933,8.001 6.870,7.906 L0.093,1.157 C-0.002,1.064 -0.002,0.969 0.093,0.875 L0.944,-0.004 L6.870,5.897 C6.933,5.960 7.060,5.960 7.154,5.897 L13.049,-0.004 L13.932,0.875 C13.995,0.969 13.995,1.064 13.932,1.157 L13.932,1.157 Z')
          button.header-menu-btn.js-click(fdprocessedid='mq055h')
            span
            span
    .header-common-navigation
      .navigation-wrapper
        nav.navigation-menu
          ul.menu.main-menu.header-menu(id='main-menu header-menu')
            li#menu-item-531.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-531.menu-link
              a.link-wrapper.item-link.trans(href='/#section-home' role='menuitem')
                .effect-text
                  .inner
                    span.hover Trang ch&#x1EE7;
            li#menu-item-194.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-194.menu-link
              a.link-wrapper.item-link.trans(href='/#section-location' role='menuitem')
                .effect-text
                  .inner
                    span.hover T&#x1ED5;ng quan
            li#menu-item-195.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-195.menu-link
              a.link-wrapper.item-link.trans(href='/#section-utility' role='menuitem')
                .effect-text
                  .inner
                    span.hover Ti&#x1EC7;n &iacute;ch
            li#menu-item-196.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-196.menu-link
              a.link-wrapper.item-link.trans(href='/#section-central' role='menuitem')
                .effect-text
                  .inner
                    span.hover M&#x1EB7;t b&#x1EB1;ng
            li#menu-item-197.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-197.menu-link
              a.link-wrapper.item-link.trans(href='/#section-gallery' role='menuitem')
                .effect-text
                  .inner
                    span.hover Th&#x1B0; vi&#x1EC7;n
            li#menu-item-198.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-198.menu-link
              a.link-wrapper.item-link.trans(href='/#section-privilege' role='menuitem')
                .effect-text
                  .inner
                    span.hover 7 &dstrok;&#x1EB7;c quy&#x1EC1;n
            li#menu-item-199.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-199.menu-link
              a.link-wrapper.item-link.trans(href='/#section-news' role='menuitem')
                .effect-text
                  .inner
                    span.hover Tin t&#x1EE9;c
            li#menu-item-200.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-200.menu-link
              a.link-wrapper.item-link.trans(href='/#footer-contact' role='menuitem')
                .effect-text
                  .inner
                    span.hover Li&ecirc;n h&#x1EC7;
        ul.navigation-socials
          li.socials-item
            a.item-link.trans(href='https://www.facebook.com/@emeraldboulevardofficial' target='_blank' rel='noopener')
              span.header-icon.is-facebook
          li.socials-item
            a.item-link.trans(href='https://www.youtube.com/@emeraldboulevardofficial' target='_blank' rel='noopener')
              span.header-icon.is-youtube
          li.socials-item
            a.item-link.trans(href='https://www.tiktok.com/@emeraldboulevardofficial' target='_blank' rel='noopener')
              span.header-icon.is-tiktok
