header.header-common
  .wrapper
    .header-inner
      .header-left
        .header-hamburger
          span MENU
          button.header-menu-btn.js-click
            span
            span
            span
        .header-lang(data-url='#')
          span VN
          svg(width="10" height="6" viewBox="0 0 10 6" fill="none")
            path(d="M0.5 0.5L4.52915 4.66201L8.69116 0.632855" stroke="#C6A45A" stroke-linecap="round" stroke-linejoin="round")
      a#logo-primary.header-logo(href='#')
        img.image-common.is-normal(src=imgCommonPC+'header_logo.svg' width='198' height='48' loading='eager' alt='BLUEMARQ DEVELOPMENT')
      .header-right
        a.header-phone(href="#")
          span.header-icon.is-cta
    .header-common-navigation
      .navigation-wrapper
        nav.navigation-menu
          ul.menu.main-menu.header-menu(id='main-menu header-menu')
            li#menu-item-531.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-531.menu-link
              a.link-wrapper.item-link.trans(href='/#section-home' role='menuitem')
                .effect-text
                  .inner
                    span.hover Trang ch&#x1EE7;
            li#menu-item-194.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-194.menu-link
              a.link-wrapper.item-link.trans(href='/#section-location' role='menuitem')
                .effect-text
                  .inner
                    span.hover T&#x1ED5;ng quan
            li#menu-item-195.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-195.menu-link
              a.link-wrapper.item-link.trans(href='/#section-utility' role='menuitem')
                .effect-text
                  .inner
                    span.hover Ti&#x1EC7;n &iacute;ch
            li#menu-item-196.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-196.menu-link
              a.link-wrapper.item-link.trans(href='/#section-central' role='menuitem')
                .effect-text
                  .inner
                    span.hover M&#x1EB7;t b&#x1EB1;ng
            li#menu-item-197.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-197.menu-link
              a.link-wrapper.item-link.trans(href='/#section-gallery' role='menuitem')
                .effect-text
                  .inner
                    span.hover Th&#x1B0; vi&#x1EC7;n
            li#menu-item-198.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-198.menu-link
              a.link-wrapper.item-link.trans(href='/#section-privilege' role='menuitem')
                .effect-text
                  .inner
                    span.hover 7 &dstrok;&#x1EB7;c quy&#x1EC1;n
            li#menu-item-199.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-199.menu-link
              a.link-wrapper.item-link.trans(href='/#section-news' role='menuitem')
                .effect-text
                  .inner
                    span.hover Tin t&#x1EE9;c
            li#menu-item-200.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-200.menu-link
              a.link-wrapper.item-link.trans(href='/#footer-contact' role='menuitem')
                .effect-text
                  .inner
                    span.hover Li&ecirc;n h&#x1EC7;
        ul.navigation-socials
          li.socials-item
            a.item-link.trans(href='https://www.facebook.com/@emeraldboulevardofficial' target='_blank' rel='noopener')
              span.header-icon.is-facebook
          li.socials-item
            a.item-link.trans(href='https://www.youtube.com/@emeraldboulevardofficial' target='_blank' rel='noopener')
              span.header-icon.is-youtube
          li.socials-item
            a.item-link.trans(href='https://www.tiktok.com/@emeraldboulevardofficial' target='_blank' rel='noopener')
              span.header-icon.is-tiktok
