@charset "utf-8";
@use "_base/base"as *;

.section-top-keyvisual {
  .keyvisual-title {
    color: $color-light;
    text-align: center;
    font-family: $font-montser;
  }

  .group-bg {
    background: $color-default;
  }

  .keyvisual-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .keyvisual-intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}