@charset "utf-8";
@use "_base/base"as *;

.section-top-keyvisual {
  .keyvisual-title {
    color: $color-light;
    text-align: center;
    font-family: $font-montser;
    text-transform: uppercase;
    letter-spacing: -.05em;
  }

  .group-bg {
    background: $color-default;
  }

  .keyvisual-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .keyvisual-intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .keyvisual-link {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    color: $color-light;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -.05em;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 50%;
      background: $color-light;
      height: 1px;
      bottom: 0;
      transition: width 0.3s ease;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }

    &:hover {

      &::before,
      &::after {
        width: 0;
      }
    }
  }

  @include desktop {
    .keyvisual-title {
      font-size: 0.7rem;
      line-height: calc(90 / 70);
    }

    .keyvisual-link {
      margin-bottom: 0.76rem;
      font-size: 0.17rem;
    }
  }

  @include tablet {
    height: 10.5rem !important;
  }

  @include mobile {
    .keyvisual-title {
      font-size: 0.7rem;
      line-height: calc(90 / 70);
    }

    .keyvisual-link {
      margin-bottom: 0.76rem;
      font-size: 0.17rem;
    }
  }
}

.section-top-vision {
  .content-wrapper {
    position: relative;
  }

  @include desktop {
    .wrapper {
      max-width: 14.72rem;
    }

    .vision-content {
      display: flex;
      padding: 1rem 0;
    }

    .content-wrapper {
      &:nth-child(1) {
        width: calc(50% + 1.19rem);
        padding: 0.5rem calc(170 / 1920 * 100vw) 0.9rem 0.39rem;
      }

      &:nth-child(2) {
        flex: 1;
        padding: 0.5rem 0.2rem 0.9rem 0.49rem;
      }
    }
  }
}

.decor-common {
  clip-path: inset(0 0 100% 0);
  transition: clip-path 0.6s ease .7s;

  @include tablet {
    clip-path: inset(0 0 0 0);
  }
}

.section-top-vision.is-active {
  .decor-common {
    clip-path: inset(0 0 0 0);
  }
}

.section-top-value {
  .value-heading {
    position: relative;
    text-align: center;
  }

  .heading-wrapper {
    margin: 0 auto;
  }

  .title-common-primary {
    letter-spacing: -.05em;
  }

  @include desktop {
    .value-heading {
      margin-bottom: 0.8rem;
      padding-bottom: 0.88rem;
    }

    .heading-wrapper {
      max-width: 8.6rem;
    }

    .title-common-primary {
      margin-bottom: 0.24rem;
    }
  }

  @include tablet {
    .central-bg {
      padding: 1rem 0;
    }
  }
}

.list-top-value {
  .list-wrapper {
    @include reset-list;
  }

  .item-wrapper {
    &:hover {
      .item-icon {
        background: $color-yellow;

        img {
          filter: brightness(0) invert(1);
        }
      }

      .title-common-primary {
        margin-left: 0.1rem;
      }
    }
  }

  .item-icon {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid $color-yellow;
    transition: background 0.3s ease;

    img {
      transition: filter 0.3s ease;
    }
  }

  .title-common-primary {
    transition: margin-left 0.3s ease;
  }

  @include desktop {
    .list-wrapper {
      display: flex;
      margin: 0 -0.1rem;
    }

    .list-item {
      width: calc(100% / 3);
      padding: 0 0.1rem;
    }

    .item-icon {
      width: 0.89rem;
      height: 0.89rem;
      margin-bottom: 0.25rem;
    }

    .paragraph-common {
      max-width: 4.28rem;
    }
  }
}

.section-top-activity {
  .content-wrapper {
    width: 100%;
  }

  .title-common-primary {
    letter-spacing: -.05em;
  }

  @include desktop {
    .wrapper {
      max-width: 16.88rem;
    }

    .title-common-primary {
      margin-bottom: 0.22rem;
    }

    .activity-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 1.2rem;
    }

    .content-wrapper {
      max-width: 5.74rem;
      padding: 0.4rem 0 0.6rem;
    }
  }
}

.list-top-activity {
  .list-wrapper {
    @include reset-list;
  }

  .list-item {
    &:last-child {
      .decor-common-secondary {
        display: none;
      }
    }
  }

  .item-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    &:hover {
      .item-number {
        color: $color-light;
        top: 0.06rem;

        &::before {
          opacity: 0;
        }
      }

      .content-title {
        color: $color-light;
        transform: translateX(0.1rem);
      }

      .button-common-secondary {
        border-color: $color-light;

        &::before {
          transform: translate(0.05rem, -0.05rem);
          background: url(../resources/images/common/arrow_icon_01_hover.svg) center center / contain no-repeat;
        }
      }
    }
  }

  .item-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .item-number {
    flex: 0 0 auto;
    color: $color-yellow;
    font-weight: 700;
    letter-spacing: -.05em;
    position: relative;
    transition: color 0.3s ease, top 0.3s ease;

    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../resources/images/common/dedcor_bg_01.png) center center / contain repeat-x;
      pointer-events: none;
      transition: opacity 0.3s ease;
    }
  }

  .content-title {
    color: $color-yellow;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    flex: 1;
    transition: transform 0.3s ease, color 0.3s ease;
  }

  @include desktop {
    width: 7.38rem;
    padding-top: 1rem;

    .item-wrapper {
      margin-bottom: 0.54rem;
      padding-bottom: 0.62rem;
    }

    .item-number {
      font-size: 0.95rem;
      line-height: calc(120 / 95);
      width: 1.6rem;
      padding: 0 0.24rem;
      top: 0.12rem;

      &::before {
        height: 120%;
      }
    }

    .item-content {
      padding-right: 0.25rem;
    }

    .content-title {
      padding-right: 0.4rem;
      font-size: 0.3rem;
      line-height: calc(4 / 3);
    }
  }
}

.section-top-projects {
  .central-bg {
    background: $color-default url(../resources/images/top/projects_bg.png) center center / cover no-repeat;
  }

  .title-common-primary {
    letter-spacing: -.05em;
  }

  .projects-image {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      border-radius: 50%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: url(../resources/images/top/decor_icon_03.svg) center center / contain no-repeat;
    }
  }

  .image-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(11, 31, 58, 0.5);
    opacity: 0.9;
    backdrop-filter: blur(5px);
  }

  .content-wrapper {
    display: flex;
    color: $color-light;
  }

  .content-heading {
    flex: 0 0 auto;
    width: 100%;
  }

  .heading-title {
    font-weight: 600;
    font-family: $font-montser;
  }

  .heading-detail {
    position: relative;
    display: flex;
    gap: .05rem;

    &::before {
      position: relative;
      content: "";
      top: 0;
      left: 0;
      margin-top: .05rem;
      display: block;
      width: .18rem;
      height: .18rem;
      background: url(../resources/images/top/decor_icon_02.svg) center center / contain no-repeat;
    }
  }

  .content-inner {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }

  @include desktop {
    .projects-wrapper {
      display: flex;
      align-items: flex-end;
      height: 100%;
    }

    .project-content {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 1rem 1.58rem 2.16rem 1.18rem;
    }

    .projects-image {
      width: 50%;
      height: 100%;

      &::before {
        width: .52rem;
        height: .52rem;
        margin-left: -0.27rem;
      }
    }

    .content-heading {
      max-width: 3.16rem;
      padding: 0 .3rem .11rem 0;
    }

    .heading-title {
      margin-bottom: .05rem;
      font-size: .3rem;
      line-height: calc(50 / 30);
    }

    .image-content {
      padding: .29rem .3rem .38rem .55rem;
    }

    .content-inner {
      padding-top: .08rem;
    }

    .heading-detail {
      font-size: .18rem;
      line-height: calc(29 / 18);
    }

    .paragraph-common {
      max-width: 4.1rem;
    }
  }
}

.list-top-projects {
  .item-title {
    color: $color-light;
    font-weight: 600;
    margin: 0;
    text-align: center;
  }

  .item-image {
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  @include desktop {
    padding-top: .28rem;

    .swiper-wrapper {
      margin-left: -0.34rem;
    }

    .swiper-slide {
      width: 3.79rem;
      padding: 0 .34rem;
    }

    .item-title {
      font-size: .22rem;
      line-height: calc(29 / 22);
    }

    .item-image {
      margin-bottom: .26rem;
      padding-top: calc(217 / 305 * 100%);
    }
  }
}
