@charset "utf-8";
@use "../_base/base"as *;

.media-popup {
  position: fixed;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

#mediaPopup .popup-box {
  background: url(../resources/images/top/gallery_bg_01.jpg) center center/cover no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#mediaPopup .popup-close {
  background: url(../resources/images/top/close_icon_01.svg) center center/cover no-repeat;
}

@media print,
(min-width: 768px) {
  #mediaPopup .popup-box {
    padding: 0.8rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  #mediaPopup .popup-box:has(.slide-video) {
    display: block;
  }

  #mediaPopup .popup-box:has(.slide-video) .popup-title {
    margin-top: 0.2rem;
  }
}

@media only screen and (max-width: 767.98px) {
  #mediaPopup .popup-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  #mediaPopup .popup-body {
    width: 4.4rem;
    height: auto;
  }
}

#premisesPopup .popup-box,
#premisesDetailPopup .popup-box {
  background-color: rgba(10, 36, 30, 0.4);
}

@media print,
(min-width: 768px) {

  #premisesPopup .popup-close,
  #premisesDetailPopup .popup-close {
    background: url(../resources/images/top/close_icon_02.svg) center center/cover no-repeat;
  }

  #premisesPopup .popup-body,
  #premisesDetailPopup .popup-body {
    height: 100%;
  }
}

@media only screen and (max-width: 767.98px) {

  #premisesPopup .popup-box {
    display: flex;
  }

  #premisesPopup .popup-box,
  #premisesDetailPopup .popup-box {
    overflow: hidden auto;
  }

  #premisesPopup .popup-box::-webkit-scrollbar,
  #premisesDetailPopup .popup-box::-webkit-scrollbar {
    width: 0;
    opacity: 0;
  }

  #premisesPopup .popup-close,
  #premisesDetailPopup .popup-close {
    // background: url(../resources/images/top/close_icon_01.svg) center center/cover no-repeat;
  }
}

#utilitiesPopup .popup-box {
  background: url(../resources/images/top/utilities_bg_01.jpg) center center/cover no-repeat;
}

#utilitiesPopup .popup-close {
  background: url(../resources/images/top/close_icon_01.svg) center center/cover no-repeat;
}

#utilitiesPopup .popup-image {
  width: 100%;
  margin: 0 auto;
  position: relative;

  &>div.md,
  &>div.sm {
    position: relative;
  }

  .st0 {
    fill: #DE7C31;
  }

  .st1 {
    fill: #FFFFFF;
  }

  .st2 {
    font-family: $font-montser;
  }

  .st3 {
    font-size: 16px;
  }
}

#utilitiesPopup {
  @include desktop {

    .list-gallery-tabs,
    .tabs-content,
    .tab-panel,
    .popup-image {
      height: 100%;
    }
  }
}

#utilitiesPopup .popup-path {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#utilitiesPopup .popup-body {
  height: 100%;
  align-content: center;
}

#utilitiesPopup .popup-path {
  cursor: pointer;
  transition: fill 0.3s ease;
}

#utilitiesPopup .popup-path .is-landscape {
  fill: rgb(222, 124, 49);
}

#utilitiesPopup .popup-path .is-landscape:hover {
  fill: #ffbdd6;
}

#utilitiesPopup .popup-path .is-architecture {
  fill: rgb(17, 63, 54);
}

#utilitiesPopup .popup-path .is-architecture:hover {
  fill: #ffbdd6;
}

#utilitiesPopup .popup-path tspan {
  pointer-events: none;
}

#utilitiesPopup {
  .is-zoom {
    opacity: 0;
  }

  &.active {
    .is-zoom {
      animation-name: scaleLarge;
      animation-duration: 1.5s;
      animation-delay: .5s;
      animation-fill-mode: forwards;
    }
  }

  @include desktop {
    .utilities-wrapper {
      opacity: 0;
    }

    &.active {
      .utilities-wrapper {
        animation-name: fadeUp;
        animation-duration: 1s;
        animation-delay: .5s;
        animation-fill-mode: forwards;
      }
    }
  }
}

.media-popup.active {
  opacity: 1;
  visibility: visible;
}

.popup-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
}

.popup-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}

.popup-title {
  text-align: center;
  font-weight: 600;
  margin: 0;
}

@media print,
(min-width: 768px) {
  .popup-title {
    font-size: 0.24rem;
    line-height: 1.4583333333;
    margin: -0.3rem 0 0;
  }
}

@media only screen and (max-width: 767.98px) {
  .popup-title {
    margin-top: 0.2rem;
  }
}

.popup-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 10;
}

@media print,
(min-width: 768px) {
  .popup-close {
    width: 0.63rem;
    height: 0.63rem;
    margin-top: 0.12rem;
    margin-right: 0.15rem;
  }
}

@media only screen and (max-width: 767.98px) {
  .popup-close {
    width: 0.5rem;
    height: 0.5rem;
    margin-top: 0.1rem;
    margin-right: 0.1rem;
  }
}

// footer
.section-footer-common {
  color: #fff;
  position: relative;
  z-index: 999;
}

.section-footer-common .information-social .social-list {
  display: flex;
  gap: 0.2rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-footer-common .information-social .social-item a {
  display: block;
  width: 0.4rem;
  height: 0.4rem;
}

.section-footer-common .item-button {
  position: relative;
}

.section-footer-common .item-button:hover::before {
  opacity: 0;
}

.section-footer-common .item-button:hover::after {
  opacity: 1;
}

.section-footer-common .item-button::before,
.section-footer-common .item-button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.35s ease;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.section-footer-common .item-button::before {
  transform: none;
  opacity: 1;
}

.section-footer-common .item-button.is-facebook::before {
  background-image: url(../resources/images/common/social_icon_01.svg);
}

.section-footer-common .item-button.is-facebook::after {
  background-image: url(../resources/images/common/social_icon_01_hover.svg);
}

.section-footer-common .item-button.is-youtube::before {
  background-image: url(../resources/images/common/social_icon_02.svg);
}

.section-footer-common .item-button.is-youtube::after {
  background-image: url(../resources/images/common/social_icon_02_hover.svg);
}

.section-footer-common .item-button.is-instagram::before {
  background-image: url(../resources/images/common/social_icon_03.svg);
}

.section-footer-common .item-button.is-instagram::after {
  background-image: url(../resources/images/common/social_icon_03_hover.svg);
}

.section-footer-common .information-image {
  width: 2.55rem;
  height: 0.62rem;
  margin-bottom: 0.3rem;
}

.section-footer-common .information-content {
  font-size: .18rem;
  line-height: calc(25 / 18);
}

@media print,
(min-width: 768px) {
  .section-footer-common .information-content {
    margin-bottom: 0.37rem;
  }

  .section-footer-common .central-bg {
    padding: 1rem 0;
    min-height: 100svh;
  }

  .section-footer-common .footer-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .section-footer-common .wrapper {
    max-width: 16.8rem;
  }

  .section-footer-common .footer-inner {
    display: flex;
    margin-right: 2.2rem;
    gap: 1.96rem;
  }
}

@media (min-width: 768px) and (max-width: 1024.98px) {
  .section-footer-common .footer-inner {
    margin-right: 0;
    gap: 0.6rem;
  }

  .section-footer-common .footer-wrapper {
    gap: 0.3rem;
  }

  .section-footer-common .central-bg {
    min-height: auto;
  }
}

@media only screen and (max-width: 767.98px) {
  .section-footer-common .central-bg {
    padding: 0.6rem 0 0.4rem;
  }

  .section-footer-common .information-content {
    margin-bottom: .2rem;
  }

  .section-footer-common .footer-information,
  .section-footer-common .footer-contact {
    margin-bottom: 0.5rem;
  }

  .section-footer-common .footer-heading {
    margin-bottom: .15rem;
    font-size: .22rem;
    line-height: calc(38 / 22);
  }
}

.list-footer-contact {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-footer-contact p:last-child {
  margin-bottom: 0;
}

.list-footer-contact .item-icon {
  display: block;
  height: 0.2rem;
  position: relative;
  flex: 0 0 auto;
}

.list-footer-contact .item-icon img {
  width: auto;
  height: 100%;
}

.list-footer-contact .list-item {
  display: flex;
  align-items: flex-start;
  gap: 0.08rem;
  color: #AEAEAE;
  margin-bottom: 0.1rem;
}

.list-footer-contact .list-item:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 767.98px) {
  .list-footer-contact .list-item {
    font-size: .18rem;
    line-height: calc(29 / 18);
  }

  .list-footer-contact .item-icon {
    top: .04rem;
  }

  .list-footer-sitemap .list-item {
    font-size: .18rem;
    line-height: calc(28 / 18);
  }
}

@media print,
(min-width: 768px) {
  .list-footer-contact .item-content {
    font-size: 0.18rem;
    line-height: 1.6111111111;
  }

  .list-footer-contact .item-icon {
    top: 0.03rem;
  }
}

.footer-heading {
  color: #CDAC6A;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}

@media print,
(min-width: 768px) {
  .footer-heading {
    font-size: 0.22rem;
  }
}

.list-footer-sitemap {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-footer-sitemap .list-item {
  color: #AEAEAE;
  text-transform: uppercase;
  margin-bottom: 0.15rem;
}

.list-footer-sitemap .list-item:last-child {
  margin-bottom: 0;
}

.list-footer-sitemap .list-item a {
  transition: all 0.35s ease;
}

.list-footer-sitemap .list-item a:hover {
  color: #C6A45A;
}

@media print,
(min-width: 768px) {
  .list-footer-sitemap .list-item {
    font-size: 0.18rem;
  }
}

.footer-bottom {
  color: #616d80;
}

@media print,
(min-width: 768px) {
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0.18rem;
    width: 100%;
    font-size: 0.18rem;
    max-width: 16.8rem;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 1024.98px) {
  .footer-bottom {
    gap: 0.3rem;
    padding: 0 0.2rem;
  }
}

@media only screen and (max-width: 767.98px) {
  .footer-bottom {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0.3rem;
  }

  .footer-copyright {
    margin-top: .3rem;
    text-align: center;
  }
}

.footer-policy {
  display: flex;
}

@media print,
(min-width: 768px) {
  .footer-policy {
    gap: .16rem;
  }

  .footer-policy .policy-item {
    position: relative;
    padding-right: 0.16rem;
  }

  .footer-policy .policy-item a {
    transition: all 0.35s ease;
  }

  .footer-policy .policy-item a:hover {
    color: #C6A45A;
  }

  .footer-policy .policy-item:last-child {
    margin-right: 0;
    padding-right: 0;
  }

  .footer-policy .policy-item:last-child::after {
    content: none;
  }

  .footer-policy .policy-item::after {
    position: absolute;
    content: "";
    right: 0;
    top: 8px;
    bottom: 4px;
    width: 1px;
    background: #616D80;
  }
}

@media only screen and (max-width: 767.98px) {
  .footer-policy {
    margin-top: 0.1rem;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 .3rem;
  }

  .footer-policy .policy-item {
    margin-bottom: 0.1rem;
    text-align: center;
    border-right: 1px solid #616d80;
    width: 50%;

    &:last-child {
      border: none;
    }
  }

  .footer-policy .policy-item:last-child {
    margin-bottom: 0;
  }
}

.form-common {
  font-size: .18rem;
  line-height: calc(45 / 18);

  .form-group {
    &+.form-group {
      margin-top: .15rem;
    }
  }

  .form-label {
    display: block;
    font-weight: 400;
    letter-spacing: -0.05em;
    color: #d9d9d9;
  }

  .input-common {
    height: .49rem;
    border: 1px solid rgba($color: #fff, $alpha: .3);
    border-radius: .1rem;
    width: 100%;
    color: #fff;
    padding: 0 .17rem;

    &::placeholder {
      color: #9B9B9B;
      opacity: .5;
    }

    &:focus {
      outline: none;
    }
  }

  .textarea-common {
    height: .98rem;
    border: 1px solid rgba($color: #fff, $alpha: .3);
    border-radius: .1rem;
    width: 100%;
    color: #fff;
    padding: .1rem .17rem;

    &::placeholder {
      color: #9B9B9B;
      opacity: .5;
    }

    &:focus {
      outline: none;
    }
  }

  .form-controller {
    display: flex;
    justify-content: flex-start;
    margin-top: .4rem;
  }

  @include mobile {
    .form-controller {
      justify-content: center;
    }
  }
}

#contactPopup {
  .contact-wrapper {
    position: relative;
  }

  .popup-box {
    background: url(../resources/images/common/form_bg.jpg) center center/cover no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.12rem;
  }

  .popup-close {
    background: url(../resources/images/common/close_icon_03.svg) center center/cover no-repeat;
    width: .18rem;
    height: .2rem;
    top: .2rem;
    right: .2rem;
    cursor: pointer;
  }

  .popup-body {
    height: 100%;
  }

  .popup-overlay {
    background: rgba(13, 29, 25, 0.6);
  }

  @include desktop {
    .popup-box {
      max-width: 10.72rem;
      max-height: 60svh;
    }

    .popup-body {
      padding: .59rem 1.2rem;
    }

    .contact-wrapper {
      padding: 0 0 0 .55rem;
    }
  }

  @include mobile {
    .popup-box {
      max-width: 100%;
      width: calc(100% - .2rem);
      height: auto;
    }

    .popup-body {
      padding: .3rem .2rem;
    }
  }
}
